<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Player List</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    <link rel="stylesheet" th:href="@{main.css}">
</head>
<body>
    <div th:replace="index :: navbar"></div>
    <br>
    <div class="container">
        <div class="d-grid gap-2"  sec:authorize="hasRole('ADMIN') or hasRole('USER')">
            <a th:href="@{/addPlayer}"><button class="add btn btn-primary" type="button">Add Player</button></a>
        </div>
        <br>
        <div class="row">
            <div class="col" th:each="player: ${players}">
                <div class="card">
                    <img th:src="${player.photo}" class="card-img-top" alt="Player Image">
                    <div class="card-body">
                        <h5 class="card-title" th:inline="text">[[${player.fName}]] [[${player.lName}]]</h5>
                        <p class="card-text" th:inline="text">Age: [[${player.age}]]</p>
                        <p class="card-text" th:inline="text">Team: [[${player.team.name}]]</p>
                        <p sec:authorize="isAuthenticated()">
                            <a th:href="@{/updatePlayer/{id}(id=${player.id})}" class="btn btn-primary">Update</a>
                            <a th:href="@{/deletePlayer/{id}(id=${player.id})}" class="btn btn-primary">Delete</a>
                            <a th:href="@{/detailPlayer/{id}(id=${player.id})}" class="btn btn-primary">Detail</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>

    </div>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
</body>
</html>